body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f4f7f6; /* Soft grey background */
  color: #333;
}

.container {
  padding: 40px 20px;
  max-width: 900px;
  margin: 0 auto;
}
